*{
    box-sizing: border-box;
}

body {
    font-family: serif;
    font-size: 50%;
    margin: auto;
}
  
/*Mobile*/  
@media only screen and (max-width: 768px){
    body {
      width: 480px;
    }
}

/*Tablet*/  
@media only screen and (min-width: 768px) and (max-width: 840px){
    body {
      width: 550px;
    }
}

/*Desktop*/  
@media only screen and (min-width: 840px){
    body {
      width: 960px;
    }
}
  